body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #1E3A8A;
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

footer {
  background-color: #1E2A47;
  color: white;
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.home-container {
  position: relative;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: #2b2c2d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.home-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.home-paragraph {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.top-right-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #3498db;
  text-decoration: underline;
}

.home-image {
  max-width: 800px;
  border-radius: 0.5rem;
  margin: 2rem auto;
  display: block;
}

.lista-carros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.lista-carros-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f0f4fc;
}

.lista-carros-item:hover {
  transform: translateY(-10px);
  background-color: #dbe7fc;
}

.lista-carros-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.lista-carros-item h3 {
  font-size: 1.5rem;
  color: #1E3A8A;
  margin-bottom: 0.5rem;
}

.lista-carros-item p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.lista-carros-item .preço {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1E40AF;
}
img {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.img-car {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}



